</head>
<body>
    <div id="toast-container"></div>

    <aside class="sidebar">
        <!-- <div > -->
            <div class="d-flex flex-column gap-3">
                <div class="d-flex justify-content-center p-4 mx-3">
                    <a href="/student/dashboard">
                        <img class="logo-nmims" src="/assets/logo-nmims.png" alt="" style="width: 150px;">
                    </a>
                </div>
                <div class="ms-4">
                    <ul class="m-0 list-unstyled d-flex flex-column" style="gap: 28px;">
                        <li class="menu-item dashboard">
                            <a href="/student/dashboard">
                                <img src="/assets/icon_svgs/home-icon.svg" style="width: 24px; height: 24px;" alt="">
                                <span class="menu-text">Dashboard</span>
                            </a>
                        </li>
                        <li class="menu-item demand-estimation">
                            <a href="/student/demand-estimation">
                                <img src="/assets/icon_svgs/book.svg" style="width: 24px; height: 24px;" alt="">
                                <span class="menu-text">Demand Estimation</span>
                            </a>
                        </li>
                        <li class="menu-item bidding">
                            <a href="/student/bidding">
                                <img src="/assets/icon_svgs/trophy.svg" style="width: 24px; height: 24px;" alt="">
                                <span class="menu-text">Bidding</span>
                            </a>
                        </li>
                        <li class="menu-item confirmation">
                            <a href="/student/confirmation">
                                <img src="/assets/icon_svgs/BadgeCheckOutline.svg" style="width: 24px; height: 24px;" alt="">
                                <span class="menu-text">Confirmation</span>
                            </a>
                        </li>
                        <li class="menu-item waiting-list">
                            <a href="/student/waiting-list">
                                <img src="/assets/icon_svgs/CollectionOutline.svg" style="width: 24px; height: 24px;" alt="">
                                <span class="menu-text">Waiting List</span>
                            </a>
                        </li>
                        <li class="menu-item add-drop">
                            <a href="/student/add-drop">
                                <img src="/assets/icon_svgs/CursorClickOutline.svg" style="width: 24px; height: 24px;" alt="">
                                <span class="menu-text">Add & Drop</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        <!-- </div> -->
    </aside>

