</head>
<body>
    <div id="toast-container"></div>

    <aside class="sidebar">
        <!-- <div > -->
            <div class="d-flex flex-column gap-3">
                <div class="d-flex justify-content-center p-4 mx-3">
                    <a href="/admin/dashboard">
                        <img class="logo-nmims" src="/assets/logo-nmims.png" alt="" style="width: 150px;">
                    </a>
                </div>
                <div class="ms-4">
                    <ul class="m-0 list-unstyled d-flex flex-column" style="gap: 28px;">
                        <li class="menu-item dashboard">
                            <a href="/admin/dashboard">
                                <img src="/assets/icon_svgs/ViewGridAddOutline.svg" style="width: 24px; height: 24px;" alt="">
                                <span class="menu-text">Dashboard</span>
                            </a>
                        </li>
                        <li class="menu-item master-data">
                            <a href="/admin/master-data">
                                <img src="/assets/icon_svgs/circle-stack.svg" style="width: 24px; height: 24px;" alt="">
                                <span class="menu-text">Master Data</span>
                            </a>
                        </li>
                        <li class="menu-item bidding-settings">
                            <a href="/admin/bidding-settings">
                                <img src="/assets/icon_svgs/trophy.svg" style="width: 24px; height: 24px;" alt="">
                                <span class="menu-text">Bidding Settings</span>
                            </a>
                        </li>
                        <li class="menu-item elective-timetable">
                            <a href="/admin/elective-timetable">
                                <img src="/assets/icon_svgs/CalendarOutline.svg" style="width: 24px; height: 24px;" alt="">
                                <span class="menu-text">Elective Timetable</span>
                            </a>
                        </li>
                        <li class="menu-item manual-enrollment">
                            <a href="/admin/manual-enrollment">
                                <img src="/assets/icon_svgs/pencil.svg" style="width: 24px; height: 24px;" alt="">
                                <span class="menu-text">Manual Enrollments</span>
                            </a>
                        </li>
                        <li class="menu-item reports">
                            <a href="/admin/reports">
                                <img src="/assets/icon_svgs/document-chart-bar.svg" style="width: 24px; height: 24px;" alt="">
                                <span class="menu-text">Reports</span>
                            </a>
                        </li>
                        <li class="menu-item utility">
                            <a href="/admin/utility">
                                <img src="/assets/icon_svgs/screwdriver.svg" style="width: 24px; height: 24px;" alt="">
                                <span class="menu-text">Utility</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        <!-- </div> -->
    </aside>

